<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cookie</display-name>
    <servlet-name>cookie</servlet-name>
    <servlet-class>exemplo01.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login02</display-name>
    <servlet-name>login02</servlet-name>
    <servlet-class>exemplo02.CookieLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login02</servlet-name>
    <url-pattern>/login02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>conteudo02</display-name>
    <servlet-name>conteudo02</servlet-name>
    <servlet-class>exemplo02.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conteudo02</servlet-name>
    <url-pattern>/conteudo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>conteudo03</display-name>
    <servlet-name>conteudo03</servlet-name>
    <servlet-class>exemplo03.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conteudo03</servlet-name>
    <url-pattern>/conteudo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login03</display-name>
    <servlet-name>login03</servlet-name>
    <servlet-class>exemplo03.CookieLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login03</servlet-name>
    <url-pattern>/login03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkcookie04</display-name>
    <servlet-name>checkcookie04</servlet-name>
    <servlet-class>exemplo04.CheckCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkcookie04</servlet-name>
    <url-pattern>/checkcookie04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkcookie05</display-name>
    <servlet-name>checkcookie05</servlet-name>
    <servlet-class>exemplo05.CheckCookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkcookie05</servlet-name>
    <url-pattern>/checkcookie05</url-pattern>
  </servlet-mapping>
</web-app>